.mein_menu{
    background:#444;
}
nav.mein_menu ul li a {
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    transition: .2s;
    padding: 10px;
}
nav.mein_menu ul li a:hover {
    color: rgb(5, 5, 5);
    line-height: 50px;
    background: #ff2d67;
    
}
nav.mein_menu ul li {
    list-style: none;
}
nav.mein_menu ul {
    display: flex;
    justify-content: space-around;
}