.post-wrapper{
    margin:auto;
}
.comment-content{
    box-shadow: 5px 5px 10px rgba(0,0,0, .1);
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    width: 60%;
}
.comment-img{
    width: 200px;
    float: left;
}
.comment-img img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    
}
.comment-info{
    width: 600px;
}